.form-section
{
	padding-top: 10.2rem;

	h2
	{
		font-size: 3rem;
		line-height: 4.5rem;
		letter-spacing: 5px;
		text-transform: uppercase;
	}

	img
	{
		max-width: 100%;
		margin-bottom: 11rem;
	}
}

@media(min-width: 1200px)
{
	.form-section
	{
		img
		{
			max-width: 700px;
		}
	}
}

.form-group
{
	margin-bottom: 1.9rem;
	
	.form-control
	{
		border: 0;
		background-color: rgba(37,71,97,0.02);
		padding: 1.2rem 0 1.1rem 1.9rem;
	}
}

.info-section
{
	background-color: #ECD9D9;
	font-size: 2.4rem;
	line-height: 2.5rem;
	text-align: center;
	padding-top: 6.3rem;
	padding-bottom: 6rem;
	margin-bottom: 4.6rem;

	a
	{
		color: $secondary;
	}
}

input::placeholder
{
	font-size: 1.6rem;
	line-height: 2.5rem;
	letter-spacing: -0.23px;
}
