$navbar-toggler-bg: $primary;

header
{
    .navbar-toggler
    {
        span
        {
            display: block;
            width: 30px;
            height: 3px;
            margin-bottom: 5px;
            background-color: $navbar-toggler-bg;
        
            &:last-of-type
            {
                margin-bottom: 0;
            }
        }
    }

    .navbar-brand
    {
        img
        {
            max-width: 50%;
            max-height: 50%;
        }
    }

    .navbar-nav
    {
        a
        {
            font-size: 1.4rem;
            font-weight: $font-weight-normal;
            line-height: 1.7rem;
            letter-spacing: 0.1rem;
            padding: 10px;
            text-align: center;
        }
    }
}

@media(min-width:768px)
{
    header
    {
        .navbar-nav
        {
            li
            {
                margin-left: 30px;
            }
        }
    }
}

@media(min-width:1200px)
{
    header
    {
        .navbar-nav
        {
            li
            {
                margin-left: 51px;
            }
        }
    }
}

