.lead-section
{
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding-top: 250px;
    padding-bottom: 250px;

    .lead-section-title
    {
        font-size: 6rem;
        line-height: 8.4rem;
        letter-spacing: 2rem;
        text-align: center;
        color: #FFFFFF;
	font-family: $accent-font;
    }
}
