.trends-section
{

	h2
	{
		margin-bottom: 4.9rem;
	}

	.trends-item
	{
		text-align: center;
	}

	.trends-item-caption
	{
		position: relative;
		margin: -8rem 2.5rem 0 2.9rem;
		padding: 2.2rem 1.8rem 5.7rem 1.9rem;
		background-color: #FFFFFF;

		p
		{
			font-family: $accent-font;
			font-size: 1.4rem;
			line-height: 1.7rem;
			letter-spacing: 0.1rem;
			font-style: italic;
			margin-bottom: 1.7rem;
		}

		a
		{
			font-size: 1.6rem;
			line-height: 2.4rem;
			font-weight: $font-weight-normal;
			color: $gray-900;
		}
	}
}

.pagination
{
	.page-item
	{
		font-family: $accent-font;
		font-size: 1.6rem;
		line-height: 2.4rem;
	}
}

@media(min-width:576px)
{
	.trends-section
	{
		padding-top: 75px;
	}
}
